# This is a basic workflow to help you get started with Actions

name: Data Analysis CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
   runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
   steps:
     - name: checkout latest
     - uses: actions/checkout@v3

      # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    - name: setup JDK 8
    - uses: actions/setup-java@v3
      with:
       distribution: 'zulu' # See 'Supported distributions' for available options
       java-version: '8'
      run: java -cp java HelloWorldApp

    - name: Build with Maven
      run: mvn -B package --file pom.xml
