# This is a basic workflow to help you get started with Actions

name: Publish Artifacts

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ release ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-project:
    name: publish artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload snapshot
      - uses: actions/upload-artifact@v3
        with:
          name: data-analysis-snapshot
          path: target/data-analysis*.jar